src/Makefile.in
src/aclocal.m4
src/app/Makefile.in
src/app/panel/Makefile.in
src/autom4te.cache/
src/cmd/Makefile.in
src/cmd/lbk/Makefile.in
src/cmd/npi-oled-hat/Makefile.in
src/cmd/scripts/Makefile.in
src/compile
src/config.guess
src/config.sub
src/configure
src/depcomp
src/include/Makefile.in
src/include/lbk/Makefile.in
src/install-sh
src/libs/Makefile.in
src/libs/lbk/Makefile.in
src/libs/lbk/add-ons/Makefile.in
src/libs/lbk/add-ons/npi-oled-hat/Makefile.in
src/libs/lbk/add-ons/vpd/Makefile.in
src/ltmain.sh
src/missing
